{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Firmware Keys"
    }}}
    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingHistory" "History")
                (arr "#headingVersions" "Versions")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Firmware Keys</h1>
            <p>
                Firmware keys are keys which decrypt bootloaders, ramdisks, and the root filesystem of an iPhone OS, iOS, iPad OS, or tvOS firmware.
            </p>

            <h2 id="headingHistory">History</h2>
            <p>
                With the release of the iPhone came the <a href="/fw/formats/img2">IMG2</a> format and its container, the <a href="/fw/formats/8900">8900</a> file.
                They were used on all iPhone OS <a href="/fw/keys/1.x">1.x</a> firmwares.
                Initially, only the <a href="/fw/files/kernelcache">kernelcache</a>, <a href="/fw/files/iBoot">iBoot</a>, and <a href="/fw/files/wtf">WTF</a> were encrypted.
                However, beginning with iPhone OS 1.1.0, all files were encrypted.
            </p>
            <p>
                Following IMG2 came then <a href="/fw/formats/img3">IMG3</a> file format.
                They were introduced with iPhone OS 2.0 beta 4 and have been used ever since on 32-bit devices.
                With the introduction of IMG3, all files are encrypted in a way that prevents extraction of a <a href="/processors/s5l8900#headingKeys">global key</a> that can decrypt all.
            </p>
            <p>
                With 64-bit processors, Apple changed the format once again and began using the <a href="/fw/formats/img4">IMG4</a> file format.
                Contrary to the 8900, IMG2, and IMG3 file formats where a custom binary format was used, IMG4 files are <a href="https://en.wikipedia.org/wiki/X.690#DER_encoding" class="external">DER</a> encoded <a href="https://en.wikipedia.org/wiki/Abstract_Syntax_Notation_One" class="external">ASN.1</a> files.
            </p>

            <h2 id="headingVersions">Versions</h2>
            <p>
                This is a full and comprehensive list of all firmwares Apple has made available to the public is some way, be it the Developer Center or iTunes.
                This list also includes firmwares for which there was never an <a href="/fw/formats/ipsw">IPSW</a> (as can be told) such as 4.2.5 for the <a href="/devices/iphone3,3">CDMA iPhone 4 (<code>iPhone3,3</code>)</a>.
                These builds came preinstalled on the device, but are not available for download, and as such, will not have any keys available.
            </p>
            <p>
                Please select a <em>major</em> iPhone OS, iOS, iPad OS, or tvOS version below:
            </p>
            <div class="alert alert-primary" role="alert">
                iOS for the Apple TV (and later tvOS) are listed according to their <em>display</em> version.
            </div>
            <ul>
                <li><a href="/fw/keys/1.x">1.x</a></li>
                <li><a href="/fw/keys/2.x">2.x</a></li>
                <li><a href="/fw/keys/3.x">3.x</a></li>
                <li><a href="/fw/keys/4.x">4.x</a></li>
                <li><a href="/fw/keys/5.x">5.x</a></li>
                <li><a href="/fw/keys/6.x">6.x</a></li>
                <li><a href="/fw/keys/7.x">7.x</a></li>
                <li><a href="/fw/keys/8.x">8.x</a></li>
                <li><a href="/fw/keys/9.x">9.x</a></li>
                <li><a href="/fw/keys/10.x">10.x</a></li>
                <li><a href="/fw/keys/11.x">11.x</a></li>
                <li><a href="/fw/keys/12.x">12.x</a></li>
                <li><a href="/fw/keys/13.x">13.x</a></li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}