<hr>
<footer>
    <div class="small-print">
        <div class="container">
            <p>
                <a href="/contact">Contact</a>
            </p>
            <p>
                Website copyright &copy; Cole Johnson 2019
                <br>
                AirPods, Apple Pencil, Apple TV, Apple Watch, HomePod, iPad, iPad mini, iPad Pro, iPhone, iPod touch, and Siri Remote are trademarks of Apple Inc.
            </p>
            <p>
                Firmware keys provided by <a href="https://theiphonewiki.com/">the iPhone Wiki</a>
            </p>
        </div>
    </div>
</footer>