{{> nav navFirmware=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC -->
        </div>

        <div class="col-sm-10">
            <h1>IMG3 Tag: <code>VERS</code></h1>
            <p>
                The <code>VERS</code> <a href="/fw/formats/img3">IMG3</a> tag is a string containing the target <a
                    href="/fw/files/iBoot">iBoot</a> version of the image.
                It is unknown if this tag's value is verified anywhere in the system.
            </p>
        </div>
    </div>
</div>

{{> footer}}