{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Firmware Files" "/fw/files")
        (arr "IMG3" "/fw/formats/img3")
        "VERS"
    }}}

    <div class="row">
        <div class="col-md-2">
            {{{toc
                (arr "#headingTagFormat" "Tag Format")
                (arr "#headingExample" "Example Tag")
            }}}
        </div>

        <div class="col-md-10">
            <h1>IMG3 Tag: <code>VERS</code></h1>
            <p>
                The <code>VERS</code> <a href="/fw/formats/img3">IMG3</a> tag is a string containing the target <a href="/fw/files/iBoot">iBoot</a> version of the image.
                It is unknown if this tag's value is verified anywhere in the system.
            </p>

            <h2 id="headingTagFormat">Tag Format</h2>
            <div class="alert alert-primary" role="alert">
                All file offsets are in hexadecimal, and all values are stored in little endian.
            </div>
            <pre>
Img3VersTag {
   0  uint32  magic;       // "SREV" ("VERS" in little endian)
   4  uint32  totalLength; // including header
   8  uint32  dataLength;  // excluding this 0xC header and padding
   C  LengthPrefixedString {
        C  uint32  length;
       10  uint8[] string; // sizeof(string) == length
   } value;
????  uint8[] pad;
}</pre>

            <h2 id="headingExample">Example Tag</h2>
            <p>
                The following tag is from the <a href="/fw/files/appleLogo">AppleLogo</a> file from the <a href="/fw/keys/5A347/iphone11">2.0 (build 5A347) build for the iPhone 2G (<code>iPhone1,1</code>)</a>.
            </p>
            <pre class="hexView">
        0  1  2  3  4  5  6  7  8  9  A  B  C  D  E  F
1C50:                                      <span class="bg-red">53 52 45 56</span>              SREV
1C60:  20 00 00 00 14 00 00 00 10 00 00 00 <span class="bg-orange">45 6D 62 65</span>   ...........Embe
1C70:  <span class="bg-orange">64 64 65 64 49 6D 61 67 65 73 2D 39</span>               ddedImages-9</pre>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Offset</th>
                        <th scope="col">Length</th>
                        <th scope="col">Explanation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code class="bg-red">0x1C5C</code></td>
                        <td>4</td>
                        <td>
                            <code>magic</code>: When interpreted in little endian order, these bytes give the string, <code>VERS</code>.
                        </td>
                    </tr>
                    <tr>
                        <td><code>0x1C60</code></td>
                        <td>4</td>
                        <td>
                            <code>totalLength</code>: Indicates that this tag is <code>0x20</code> (32) bytes long.
                        </td>
                    </tr>
                    <tr>
                        <td><code>0x1C64</code></td>
                        <td>4</td>
                        <td>
                            <code>dataLength</code>: Indicates that this tag (without the header) is <code>0x14</code> (20) bytes long.
                        </td>
                    </tr>
                    <tr>
                        <td><code>0x1C68</code></td>
                        <td>4</td>
                        <td>
                            <code>value.length</code>: Indicates that <code>value</code> is <code>0x10</code> (16) bytes long.
                        </td>
                    </tr>
                    <tr>
                        <td><code class="bg-orange">0x1C6C</code></td>
                        <td>16</td>
                        <td>
                            <code>value.string</code>: The actual value of the tag: <code>EmbeddedImages-9</code>.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> footer}}