{{> nav}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC -->
        </div>
        <div class="col-sm-10">
            <h1>404</h1>
            <p>
                That means whatever you were trying to reach doesn't exist.
                If you were linked here from somewhere else on this site, please <a href="/contact">contact the webmaster</a> to report the problem.
            </p>
        </div>
    </div>
</div>

{{> footer}}