{{> nav}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <!-- No TOC -->
        </div>
        <div class="col-lg-10 col-md-9">
            <h1>404</h1>
            <p>
                That means whatever you were trying to reach doesn't exist.
            </p>
            <p>
                This site is currently under active development, so many pages may not exist yet.
                If you believe you were linked here <em>in error</em>, please {{{link "/contact" "contact the webmaster"}}} to report the problem.
            </p>
        </div>
    </div>
</div>

{{> footer}}