{{> nav navAbout=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "About"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingSource" "Open Source")
            }}}
        </div>
        <div class="col-lg-10 col-md-9">
            <h1>About</h1>
            <p>
                This site was created to assist {{#link "https://theiphonewiki.com"}}The iPhone Wiki{{/link}} in storage of information regarding iOS firmwares.
                However, this has grown to including information regarding devices, jailbreaks, and more.
            </p>

            <h2 id="headingSource">Open Source</h2>
            <p>
                This site is {{#link "https://github.com/HexwareSoftware/idecryptit-web"}}open source{{/link}} and released under the GNU {{#link "https://opensource.org/licenses/AGPL-3.0"}}AGPL 3.0 or later{{/link}} license.
            </p>
        </div>
    </div>
</div>

{{> footer}}