{{> nav navAbout=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC -->
        </div>
        <div class="col-sm-10">
            <h1>About this site</h1>
            <p>
                This site was created to assist <a href="#">The Apple Wiki</a> in storage of information regarding iOS firmwares.
                This includes keys for decrypting the firmwares, information regarding OTA updates, and more.
            </p>
        </div>
    </div>
</div>

{{> footer}}