{{> nav navAbout=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingSource">Open Source</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <h1>About</h1>
            <p>
                This site was created to assist <a href="https://theiphonewiki.com">The iPhone Wiki</a> in storage of information regarding iOS firmwares.
                This includes keys for decrypting the firmwares, information regarding OTA updates, and more.
            </p>

            <h2 id="headingSource">Open Source</h2>
            <p>
                This site is <a href="https://github.com/HexwareSoftware/idecryptit-web" class="external">open source</a> and released under the GNU <a href="https://opensource.org/licenses/AGPL-3.0" class="external">AGPL 3.0 or later</a> license.
            </p>
        </div>
    </div>
</div>

{{> footer}}