{{> nav navDevice=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Baseband"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingList" "List of Baseband Processors")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Baseband</h1>
            <p>
                A baseband processor is a chip that manages the cellular radio functions of a device.
                In the case of {{#link "/devices"}}iDevices{{/link}}, the baseband processor has its own RAM and firmware, separate to the main processor.
            </p>

            <h2 id="headingList">List of Baseband Processors</h2>
            <p>
                Over the years, Apple has used many different baseband processors.
                Specifically, Broadcom and Intel are the most common, but Infineon has been used before.
                Recently, Apple has begun utilizing two processors at the same time.
                In other words, newer devices support two processors (one Broadcom, one Intel), but which one is used in <em>your</em> device depends on many factors.
            </p>
            <p>
                This list is sorted <em>roughly</em> in chronological order.
                The devices listed to the right of each processor model number are the devices it is used in.
            </p>
            <ul>
                <li>
                    {{#link "/baseband/pmb8876"}}PMB8876{{/link}} "S-Gold 2":
                    {{#link "/devices/iphone/2g"}}iPhone{{/link}}
                </li>
                <li>
                    {{#link "/baseband/pmb8878"}}PMB8878{{/link}} "X-Gold 608":
                    {{#link "/devices/iphone/3g"}}iPhone 3G{{/link}},
                    {{#link "/devices/iphone/3gs"}}iPhone 3GS{{/link}},
                    {{#link "/devices/ipad/1g"}}iPad{{/link}} (3G model)
                </li>
                <li>
                    {{#link "/baseband/xmm6180"}}XMM6180{{/link}} "X-Gold 618":
                    {{#link "/devices/iphone/4"}}iPhone 4{{/link}} (<code>iPhone3,1</code> and <code>iPhone3,2</code> models),
                    {{#link "/devices/ipad/2"}}iPad 2{{/link}} (<code>iPad2,2</code> model)
                </li>
                <li>
                    {{#link "/baseband/mdm6600"}}MDM6600{{/link}}:
                    {{#link "/devices/iphone/4"}}iPhone 4{{/link}} (<code>iPhone3,3</code> model),
                    {{#link "/devices/ipad/2"}}iPad 2{{/link}} (<code>iPad2,3</code> model)
                </li>
                <li>
                    {{#link "/baseband/mdm6610"}}MDM6610{{/link}}:
                    {{#link "/devices/iphone/4s"}}iPhone 4S{{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9600"}}MDM9600{{/link}}:
                    {{#link "/devices/ipad/3g"}}iPad (3rd gen){{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9615"}}MDM9615{{/link}}:
                    {{#link "/devices/ipad/4g"}}iPad (4th gen){{/link}},
                    {{#link "/devices/ipadair/1g"}}iPad Air{{/link}},
                    {{#link "/devices/ipadmini/1g"}}iPad mini{{/link}},
                    {{#link "/devices/ipadmini/2"}}iPad mini 2{{/link}},
                    {{#link "/devices/ipadmini/3"}}iPad mini 3{{/link}},
                    {{#link "/devices/iphone/5"}}iPhone 5{{/link}},
                    {{#link "/devices/iphone/5c"}}iPhone 5c{{/link}},
                    {{#link "/devices/iphone/5s"}}iPhone 5s{{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9625"}}MDM9625{{/link}}:
                    {{#link "/devices/ipadair/2"}}iPad Air 2{{/link}},
                    {{#link "/devices/ipadpro/1g"}}iPad Pro{{/link}} (12.9&nbsp;in model),
                    {{#link "/devices/ipad/5g"}}iPad (5th gen){{/link}},
                    {{#link "/devices/ipadmini/4"}}iPad mini 4{{/link}},
                    {{#link "/devices/iphone/6"}}iPhone 6 and 6 Plus{{/link}},
                    {{#link "/devices/iphone/se"}}iPhone SE{{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9635"}}MDM9635{{/link}}:
                    {{#link "/devices/watch/series3"}}Apple Watch Series 3{{/link}},
                    {{#link "/devices/ipadpro/1g"}}iPad Pro{{/link}} (9.7&nbsp;in model),
                    {{#link "/devices/ipad/6g"}}iPad (6th gen){{/link}},
                    {{#link "/devices/iphone/6s"}}iPhone 6s and 6s Plus{{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9645"}}MDM9645{{/link}}:
                    {{#link "/devices/ipadpro/2g"}}iPad Pro (2nd gen){{/link}},
                    {{#link "/devices/iphone/7"}}iPhone 7 and 7 Plus{{/link}}
                </li>
                <li>
                    {{#link "/baseband/pmb9943"}}PMB9943{{/link}} "X-Gold 736":
                    {{#link "/devices/iphone/7"}}iPhone 7 and 7 Plus{{/link}}
                </li>
                <li>
                    {{#link "/baseband/mdm9655"}}MDM9655{{/link}}:
                    {{#link "/devices/iphone/8"}}iPhone 8 and 8 Plus{{/link}},
                    {{#link "/devices/iphone/x"}}iPhone X{{/link}}
                </li>
                <li>
                    {{#link "/baseband/pmb9948"}}PMB9948{{/link}} "X-Gold 748":
                    {{#link "/devices/iphone/8"}}iPhone 8 and 8 Plus{{/link}},
                    {{#link "/devices/iphone/x"}}iPhone X{{/link}}
                </li>
                <li>
                    {{#link "/baseband/pmb9955"}}PMB9955{{/link}} "X-Gold 756":
                    {{#link "/devices/ipadair/3g"}}iPad Air (3rd gen){{/link}},
                    {{#link "/devices/ipadpro/3g"}}iPad Pro (3rd gen){{/link}},
                    {{#link "/devices/ipad/7g"}}iPad (7th gen){{/link}},
                    {{#link "/devices/ipadmini/5g"}}iPad mini (5th gen){{/link}},
                    {{#link "/devices/iphone/xr"}}iPhone XR{{/link}},
                    {{#link "/devices/iphone/xs"}}iPhone XS and XS Max{{/link}},
                </li>
                <li>
                    {{#link "/baseband/pmb9960"}}PMB9960{{/link}} "X-Gold 766":
                    {{#link "/devices/iphone/11"}}iPhone 11{{/link}},
                    {{#link "/devices/iphone/11pro"}}iPhone 11 Pro and 11 Pro Max{{/link}}
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}