{{> nav}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <!-- No TOC -->
        </div>
        <div class="col-md-10">
            <h1>Contact</h1>
            <p>
                To contact me (Cole Johnson), please use one of the following methods:
            </p>
            <ul>
                <li>iMessage: <i>coleharrisjohnson at icloud dot com</i> (emails sent here will be ignored)</li>
                <li>The iPhone Wiki: <a href="https://theiphonewiki.com/wiki/User:5urd" class="external"><i>5urd</i></a></li>
                <li>Email: <i>coleharrisjohnson at gmail dot com</i></li>
            </ul>
            <p>If the problem is one regarding this website, iMessage is recommended.</p>
        </div>
    </div>
</div>

{{> footer}}