{{> nav}}

<div class="container-fluid">
    {{{breadcrumbs
        "Contact"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            <!-- No TOC -->
        </div>
        <div class="col-lg-10 col-md-9">
            <h1>Contact</h1>
            <p>
                To contact me (Cole Johnson), please use one of the following methods:
            </p>
            <ul>
                <li>iMessage: <i>coleharrisjohnson at icloud dot com</i> (emails sent here will be ignored)</li>
                <li>The iPhone Wiki: {{{link "https://theiphonewiki.com/wiki/User:5urd" "<i>5urd</i>"}}}</li>
                <li>Email: <i>coleharrisjohnson at gmail dot com</i></li>
            </ul>
            <p>If the problem is one regarding this website, iMessage is recommended.</p>
        </div>
    </div>
</div>

{{> footer}}