{{> nav navDownload=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Download</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingCurrentVersion">Current Version</a></li>
                    <!--<li>2. <a href="#headingHistory">Version History</a></li>-->
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <h1>Download iDecryptIt</h1>
            <p>
                iDecryptIt is a Windows-only program used to decrypt iOS' <a href="/fw/files/rootFS">root filesystem</a>, similar to the <a href="/fw/decrypt">decryption</a> page on this website.
                Currently, the project is on hiatus indefinitely, but in the future will support more than just the root filesystem.
            </p>

            <h2 id="headingCurrentVersion">Current Version</h2>
            <p>
                The current version of iDecryptIt is 11.4.1 (build <code>2I22</code>), released <span class="date">2018 08 17</span>.
                It is available for download on <a href="https://sourceforge.net/projects/idecryptit/files/latest/download" class="external">SourceForge</a>.
            </p>
        </div>
    </div>
</div>

{{> footer}}