{{> nav navHome=true}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC...yet-->
        </div>
        <div class="col-sm-10">
            <h1>The iOS Firmware Website</h1>
            <p>
                Welcome to the iOS Firmware Website.
                This website was created to facilitate a one-stop shop for information regarding the firmwares used in iPhone OS, iOS, iPadOS, and tvOS.
            </p>
        </div>
    </div>
</div>

{{> footer}}