{{> nav navIOS=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">iOS</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>
                        1. <a href="#headingBackground">Background</a>
                        <ul>
                            <li>1.1. <a href="#headingName">Name</a></li>
                        </ul>
                    </li>
                    <li>2. <a href="#headingArchitecture">Architecture</a></li>
                    <li>3. <a href="#headingBloat">Installation Size</a></li>
                    <li>4. <a href="#headingApps">Apps</a></li>
                    <li>5. <a href="#headingVersions">Versions of iOS</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>iOS</h1>
            <p>
                iOS, formally known as iPhone OS, is the operating system for all <a href="/devices">iDevices</a>.
            </p>

            <h2 id="headingBackground">Background</h2>
            <p>
                iPhone OS began in 2005 and was announced alongside the <a href="/devices/iphone/2g">original iPhone</a> at the Macworld Conference & Expo on {{{date "2007-01-09"}}} and released on {{{date "2007-06-27"}}}.
            </p>

            <h3 id="headingName">Name</h3>
            <p>
                Initially, iOS was called "iPhone OS" as it was designed for the iPhone.
                However, iPhone OS was later utilized by the iPod touch, iPad, and Apple TV (second generation and newer).
                As such, iPhone OS was renamed iOS with the <a href="/ios/4">fourth major version</a>.
                This name was utilized for all <a href="/devices">iDevices</a> for many years.
            </p>
            <p>
                With the release of the <a href="/devices/appletv/4g">fourth generation Apple TV</a>, Apple released <em>tvOS</em> 9 alongside iOS 9.
                The <a href="/devices/appletv/2g">Apple TV 2G</a> and <a href="/devices/appletv/3g">3G</a>, however, continued to use the "iOS" name.
            </p>
            <p>
                With the release of the <a href="/ios/13">iOS 13</a>, Apple again rebranded iOS, but this time for its iPad line of products.
                The resulting operating system was renamed to <em>iPadOS</em> (without a space; similar to <a href="https://en.wikipedia.org/wiki/macOS" class="external">macOS</a>).
                The change was made to differentiate the iPad from the iPhone and iPod touch lines as it contains a greater emphasis on multitasking.
            </p>

            <h2 id="headingArchitecture">Architecture</h2>
            <p>
                iOS features a <a href="http://en.wikipedia.org/wiki/Hybrid_kernel" class="external">hybrid kernel</a> known as <a href="https://en.wikipedia.org/wiki/XNU" class="external">XNU</a>.
                It is programmed in ARM assembly, C, C++, and Objective-C.
                The flash is partitioned into two seperate blocks (a common thing for Unix-like systems): one for the operating system (mounted at <a href="/fw/fs"><code>/</code></a>) and one for the user data (mounted at <a href="/fw/fs/private/var"><code>/private/var</code></a>).
            </p>

            <h2 id="headingBload">Installation Size</h2>
            <p>
                Over the years, iOS has required more and more space as the operating system has become more complex.
                Initially, iPhone OS required less than a quarter of a gigabyte to function.
                However, with each major release, more and more space is required to function.
                Currently, <a href="/ios/13">iOS 13</a> will "claim" over six gigabytes for itself.
            </p>

            <h2 id="headingApps">Apps</h2>
            <p>
                iOS features many built-in apps;
                Some have been available since <a href="/ios/1">the inception</a>, other removed over time, and others added over time.
            </p>
            <div class="alert alert-primary" role="alert">
                This list contains almost all the apps available on the <a href="/ios/apps/springboard">home screen</a>, not necessarily every app in the <a href="/fw/fs/Applications"><code>/Applications</code></a> folder.
                Apps not included include: GarageBand, iMovie, iTunes U, Keynote, Numbers, and Pages.
            </div>
            <div class="alert alert-primary" role="alert">
                Not every app is available on every device.
                For example, the <a href="/ios/apps/compass">Compass</a> app is not available on iPads.
            </div>
            <!-- TODO: add Music/Videos apps -->
            <table class="table">
                <thead>
                    <tr>
                        <th>App</th>
                        <th>Availability</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/ios/apps/appleStore">Apple Store</a></td>
                        <td>13.0? - present</td>
                        <td>Apple Store</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/appStore">App Store</a></td>
                        <td>2.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/App_Store_(iOS)" class="external">App Store</a> client</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/books">Books</a><br>(previously <span class="font-italic">iBooks</span>)</td>
                        <td>8.0 - present</td>
                        <td>PDF and eBook viewer</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/calculator">Calculator</a></td>
                        <td>1.0 - present</td>
                        <td>Scientific calculator</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/calendar">Calendar</a></td>
                        <td>1.0 - present</td>
                        <td>Calendar</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/camera">Camera</a></td>
                        <td>1.0 - present</td>
                        <td>Camera</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/clips">Clips</a></td>
                        <td>13.0 - present</td>
                        <td>Short video editor</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/clock">Clock</a></td>
                        <td>1.0 - present</td>
                        <td>World clocks, alarms, and timers</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/compass">Compass</a></td>
                        <td>3.0 - present</td>
                        <td>Compass and (in later versions) spirit level</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/contacts">Contacts</a></td>
                        <td>1.??? - present</td>
                        <td>Contact book</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/demo">Demo App</a></td>
                        <td>1.0 - present</td>
                        <td>Utilized in physical Apple stores to display a video when the device is not being used</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/facetime">FaceTime</a></td>
                        <td>7.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/FaceTime" class="external">FaceTime</a> telephony</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/files">Files</a></td>
                        <td>13.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/iCloud" class="external">iCloud</a> file manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/findMy">Find My</a></td>
                        <td>9.0 - present</td>
                        <td>Previously <span class="font-italic">Find My iPhone</span> and <span class="font-italic">Find My Friends</span>; Combined in <a href="/ios/13">iOS 13</a></td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/gameCenter">Game Center</a> <span class="font-italic">(app)</span></td>
                        <td>4.1 - 9.3.6</td>
                        <td><a href="https://en.wikipedia.org/wiki/Game_Center" class="external">Game Center</a> account manager.</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/health">Health</a></td>
                        <td>8.0 - present</td>
                        <td>Health informatics</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/home">Home</a></td>
                        <td>8.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/HomeKit" class="external">HomeKit</a>-based device manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/iTunes">iTunes Store</a><br>(previously just <span class="font-italic">iTunes</span>)</td>
                        <td>1.1 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/ITunes_Store" class="external">iTunes Store</a> client</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/mail">Mail</a></td>
                        <td>1.0 - present</td>
                        <td>Email manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/maps">Maps</a></td>
                        <td>1.0 - present</td>
                        <td>Apple Maps (Google Maps on 5.1.1 and below)</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/measure">Measure</a></td>
                        <td>11.0 - present</td>
                        <td>AR-based measuring app</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/messages">Messages</a><br>(previously <span class="font-italic">Text</span> and <span class="font-italic">SMS</span>)</td>
                        <td>1.0 - present</td>
                        <td>Texting (SMS) and (since <a href="/ios/5">iOS 5</a>) <a href="https://en.wikipedia.org/wiki/IMessage" class="external">iMessage</a></td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/news">News</a></td>
                        <td>9.0 - present</td>
                        <td>News</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/nike">Nike+iPod</a></td>
                        <td>2.2.1 - 8.4.1</td>
                        <td><a href="https://en.wikipedia.org/wiki/Nike%2B" class="external">Nike+</a> receiver</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/notes">Notes</a></td>
                        <td>1.0 - present</td>
                        <td>Note taking app</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/phone">Phone</a></td>
                        <td>1.0 - present</td>
                        <td>Phone</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/photos">Photos</a></td>
                        <td>1.0 - present</td>
                        <td>Photo manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/podcasts">Podcasts</a></td>
                        <td>8.0 - present</td>
                        <td>Podcast manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/reminders">Reminders</a></td>
                        <td>6.0 - present</td>
                        <td>Reminders manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/safari">Safari</a></td>
                        <td>1.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/Safari_(web_browser)" class="external">Safari</a> web browser</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/settings">Settings</a></td>
                        <td>1.0 - present</td>
                        <td>Device settings manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/setup">Setup</a></td>
                        <td>5.0 - present</td>
                        <td>Device setup app; Runs after a restore or update</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/siri">Siri</a></td>
                        <td>4.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/Siri" class="external">Siri</a></td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/stocks">Stocks</a></td>
                        <td>1.0 - present</td>
                        <td>Stock price viewer</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/tips">Tips</a></td>
                        <td>8.0 - present</td>
                        <td>Device tips</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/tv">TV</a></td>
                        <td>13.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/Apple_TV%2B" class="external">Apple TV+</a> client</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/voiceMemos">Voice Memos</a></td>
                        <td>3.0 - present</td>
                        <td>Audio recorder</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/wallet">Wallet</a><br>(previously <span class="font-italic">PassBook</span>)</td>
                        <td>6.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/Apple_Wallet" class="external">Apple Wallet</a></td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/watch">Watch</a></td>
                        <td>8.0 - present</td>
                        <td><a href="https://en.wikipedia.org/wiki/Apple_Watch" class="external">Apple Watch</a> manager</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/weather">Weather</a></td>
                        <td>1.0 - present</td>
                        <td>Weather viewer</td>
                    </tr>
                    <tr>
                        <td><a href="/ios/apps/youtube">YouTube</a></td>
                        <td>1.0 - 5.1.1</td>
                        <td><a href="https://en.wikipedia.org/wiki/YouTube" class="external">YouTube</a></td>
                    </tr>
                </tbody>
            </table>

            <h2 id="headingVersions">Versions of iOS</h2>
            <p>
                Apple has maintained a steady release schedule with major releases;
                They release a new major version with every new flagship iPhone.
                Currently, iOS is on it's 13th <em>major</em> release with iOS 14 expected to be announced at WWDC 2020.
            </p>
            <p>
                Each link below will take you to a page dedicated to that major version and its new features.
                In addition, each page will conain a full version history of that major version.
            </p>
            <ul>
                <li><a href="/ios/1">iPhone OS 1</a></li>
                <li><a href="/ios/2">iPhone OS 2</a></li>
                <li><a href="/ios/3">iPhone OS 3</a></li>
                <li><a href="/ios/4">iOS 4</a></li>
                <li><a href="/ios/5">iOS 5</a></li>
                <li><a href="/ios/6">iOS 6</a></li>
                <li><a href="/ios/7">iOS 7</a></li>
                <li><a href="/ios/8">iOS 8</a></li>
                <li><a href="/ios/9">iOS 9</a></li>
                <li><a href="/ios/10">iOS 10</a></li>
                <li><a href="/ios/11">iOS 11</a></li>
                <li><a href="/ios/12">iOS 12</a></li>
                <li><a href="/ios/13">iOS 13</a></li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}