{{> nav navJailbreaks=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Jailbreaks"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingTethered" "Tethered vs. Untethered"
                    (arr "#headingSemiTethered" "Semi-Tethering"))
                (arr "#headingList" "Jailbreak Compatibility")
            }}}
        </div>
        <div class="col-lg-10 col-md-9">
            <h1>Jailbreaks</h1>
            <p>
                Jailbreaking is the process of patching iOS to break out of the "jail" imposed by the operating system on the user.
                The "jail" is used to prevent access to the device as a {{#link "https://en.wikipedia.org/wiki/Superuser"}}root{{/link}} user.
            </p>
            <p>
                A "bare-bones" jailbreak is the simplest there is;
                It involves patching {{#link "/fw/fs/private/etc/fstab"}}<code>/private/etc/fstab</code>{{/link}} to mount the {{#link "/fw/fs"}}root partition{{/link}} as read-write (instead of read-only).
                Modern jailbreaks, on the other hand, are much more complicated;
                Some will patch the kernel to get around code signing among other restrictions.
            </p>

            <h2 id="headingTethered">Tethered vs. Untethered</h2>
            <p>
                Whenever the devices boots up, the kernel must be patched.
                This is accomplished in many different ways, however, some require a computer for every boot.
                This distinction has given rise to the terms "untethered" and "tethered" jailbreaks.
            </p>
            <p>
                A "tethered" jailbreak is the most common kind.
                Whenever the device boots up, the device will no longer run a patched kernel, and may get stuck in {{#link "https://www.theiphonewiki.com/wiki/Recovery_Mode"}}Recovery Mode{{/link}}.
                The way to fix this involves using a tool (typically provided with the jailbreaking software) to upload an exploit to the device.
                This exploit will patch the kernel and allow the device to complete booting up.
            </p>
            <p>
                In contrast, an "untethered" jailbreak does not require a computer to boot up.
                These utilize exploits in the bootrom to execute on boot in order to patch the kernel.
            </p>

            <h3 id="headingSemiTethered">Semi-Tethering</h3>
            <p>
                Lately, two new forms of jailbreak boot forms have appeared: "semi-tethered" and "semi-untethered."
                As their names imply, they are "tethered" in some sorts, and require software to patch the kernel.
                However, they are unique in that the device will boot and function normally without needing a patch on each boot.
            </p>
            <p>
                A "semi-tethered" jailbreak is one where the device, in the absence of an exploit, will boot and function as if there is no jailbreak.
                It will not have a patched kernel, and, as such, attempts to run unsigned apps like {{#link "/ios/apps/cydia"}}Cydia{{/link}} will fail.
                In order to fix this, the device must be rebooted and patched with the help of software off the device.
            </p>
            <p>
                A "semi-untethered" jailbreak is similar to a semi-tethered jailbreak, but with a minor difference: the tool to patch the kernel is on the device.
                In other words, when a device is booted up, it will function as stock iOS.
                However, an app running on the device will patch the kernel.
            </p>

            <h2 id="headingList">Jailbreak Compatibility</h2>
            <ul>
                <li>
                    {{#link "/jailbreaks/compat/ios"}}iPhone OS/iOS{{/link}}:
                    {{#link "/jailbreaks/compat/ios/1"}}1.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/2"}}2.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/3"}}3.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/4"}}4.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/5"}}5.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/6"}}6.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/7"}}7.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/8"}}8.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/9"}}9.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/10"}}10.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/11"}}11.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/12"}}12.x{{/link}}
                    {{#link "/jailbreaks/compat/ios/13"}}13.x{{/link}}
                </li>
                <li>
                    Apple TV/tvOS:
                    {{#link "/jailbreaks/compat/appletv/4"}}4.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/5"}}5.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/6"}}6.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/7"}}7.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/8"}}8.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/9"}}9.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/10"}}10.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/11"}}11.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/12"}}12.x{{/link}}
                    {{#link "/jailbreaks/compat/appletv/13"}}13.x{{/link}}
                </li>
                <li>
                    watchOS:
                    {{#link "/jailbreaks/compat/watch/1"}}1.x{{/link}}
                    {{#link "/jailbreaks/compat/watch/2"}}2.x{{/link}}
                    {{#link "/jailbreaks/compat/watch/3"}}3.x{{/link}}
                    {{#link "/jailbreaks/compat/watch/4"}}4.x{{/link}}
                    {{#link "/jailbreaks/compat/watch/5"}}5.x{{/link}}
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}