{{> nav navOta=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "OTA Updates"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingJailbreaking" "Issues with Jailbreaking")
                (arr "#headingContents" "Contents"
                    (arr "#headingVersion1" "Version 1")
                    (arr "#headingVersion2" "Version 2")
                    (arr "#headingVersion3" "Version 3"))
                (arr "#headingList" "List of OTA Updates"
                    (arr "#headingAirPods" "AirPods")
                    (arr "#headingAppleTV" "Apple TV"
                        (arr "#headingSiriRemote" "Siri Remote"))
                    (arr "#headingWatch" "Apple Watch")
                    (arr "#headingHomePod" "HomePod")
                    (arr "#headingIPad" "iPad"
                        (arr "#headingPencil" "Apple Pencil")
                        (arr "#headingKeyboard" "Smart Keyboard"))
                    (arr "#headingIPadAir" "iPad Air")
                    (arr "#headingIPadPro" "iPad Pro")
                    (arr "#headingIPadMini" "iPad mini")
                    (arr "#headingIPhone" "iPhone")
                    (arr "#headingIPodTouch" "iPod touch"))
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>OTA Updates</h1>
            <p>
                OTA (Over-the-Air) update were introduced with <a href="/ios/5">iOS 5</a>.
                They allow a user to update their device without using iTunes.
            </p>

            <h2 id="headingJailbreaking">Issues with Jailbreaking</h2>
            <p>
                OTA updates are known to cause issues with jailbroken devices.
                Attempts to update a jailbroken device can cause a boot loop that could only be fixed with iTunes.
                The first jailbreak to address this was <a href="/jailbreaks/evasi0n">evasi0n</a> for <a href="/ios/6">iOS 6</a>.
                evasi0n worked by disabling the OTA daemon which prevents the device from searching for an update (it will be stuck at "Checking for Update").
                For jailbreaks that don't disable the daemon, it can be disabled manually by deleting certain files (see the <a href="https://www.theiphonewiki.com/wiki/OTA_Updates#Conflicts_With_Jailbreaking" class="external">iPhone Wiki</a> for more information).
            </p>

            <h2 id="headingContents">Contents</h2>
            <p>
                There are three known versions of the update file containers.
            </p>

            <h3 id="headingVersion1">Version 1</h3>
            <p>
                Version 1 update files were the first ones.
                These were replaced with <a href="#headingVersion2">version 2</a> with iOS ????.
                They contain three main files:
            </p>
            <ul>
                <li>
                    <code>archive.cpio.gz</code>: The actual encrypted patch archive.
                    It is a collection of <code>BSDIFF40</code> and the requisite flashing tools (<code>bbupdater</code>, <code>imeisv</code>, etc.).
                </li>
                <li>
                    <code>Info.plist</code> and <code>Info.plist.signature</code>: Contains information about the update along with a signature.
                </li>
                <li>
                    <code>libupdate_brain.dylib</code>: A code library for stage 2 of the update process.
                </li>
            </ul>

            <h3 id="headingVersion2">Version 2</h3>
            <p>
                Version 2 update files were introduced with iOS ???.
                Instead of an <code>archive.cpio.gz</code>file, they contain two folders: <code>added</code> and <code>patches</code>.
                As the names imply, <code>added</code> contains unencrypted files to be added to the filesystem while <code>patches</code> contains <code>BSDIFF40</code> files that tell the system how to patch a file.
            </p>

            <h3 id="headingVersion3">Version 3</h3>
            <p>
                Version 3 update files were introduced with iOS ???.
                Quite a number of changes were made to the folder structure.
                The most major changes are listed below:
            </p>
            <ul>
                <li>
                    The <code>added</code> folder no longer exists.
                </li>
                <li>
                    <code>links.txt</code> was added.
                    It contains a list of <a href="https://en.wikipedia.org/wiki/Symbolic_link" class="external">symbolic links</a> (symlinks) to be created.
                </li>
                <li>
                    The <code>patches</code> folder contents no longer use the <code>BSDIFF40</code> file format, but a modified version known as <code>BXDIFF41</code>.
                </li>
                <li>
                    <code>payload</code> and <code>prepare_payload</code> were added.
                    They hold the filesystem contents in a proprietary format.
                </li>
                <li>
                    <code>removed.txt</code> was added.
                    It contains a list of files to be deleted prior to updating.
                </li>
            </ul>

            <h3 id="headingList">List of OTA Updates</h3>
            <p>
                This is a comprehensive list of every OTA update that has been released to the public.
            </p>
            <!--<div class="alert alert-primary" role="alert">
                This site does <em>not</em> host the actual update archives (ZIP files).
                All links are to Apple's own CDN servers (whether directly or through <a href="https://en.wikipedia.org/wiki/Akamai_Technologies" class="external">Akamai</a>).
                If there are broken links, please <a href="/contact">contact the webmaster</a>.
            </div>-->
            <div class="alert alert-primary" role="alert">
                This list is updated periodically, and as such, may not be 100% accurate.
            </div>

            <h4 id="headingAirPods">AirPods</h4>
            <ul>
                <li><a href="/ota/airpods/1g">AirPods (1st generation)</a></li>
                <li><a href="/ota/airpods/2g">AirPods (2nd generation)</a></li>
                <li><a href="/ota/airpods/pro">AirPods Pro</a></li>
            </ul>

            <h4 id="headingAppleTV">Apple TV</h4>
            <div class="alert alert-primary" role="alert">
                Apple TV updates are organized by their <em>marketing</em> version (the version displayed in the Settings app), not the version of iOS it is based on.
            </div>
            <ul>
                <li>
                    4.x:
                    <a href="/ota/appletv/4.0">4.0</a>,
                    <a href="/ota/appletv/4.1">4.1</a>,
                    <a href="/ota/appletv/4.1.1">4.1.1</a>,
                    <a href="/ota/appletv/4.2">4.2</a>,
                    <a href="/ota/appletv/4.2.1">4.2.1</a>,
                    <a href="/ota/appletv/4.2.2">4.2.2</a>,
                    <a href="/ota/appletv/4.3">4.3</a>,
                    <a href="/ota/appletv/4.4">4.4</a>,
                    <a href="/ota/appletv/4.4.1">4.4.1</a>,
                    <a href="/ota/appletv/4.4.2">4.4.2</a>,
                    <a href="/ota/appletv/4.4.3">4.4.3</a>,
                    <a href="/ota/appletv/4.4.4">4.4.4</a>
                </li>
                ...
            </ul>

            <h5 id="headingSiriRemote">Siri Remote</h5>
            <ul>
                <li><a href="/ota/siriremote/1g">Siri Remote (1st generation)</a></li>
                <li><a href="/ota/siriremote/2g">Siri Remote (2nd generation)</a></li>
            </ul>

            <h4 id="headingWatch">Apple Watch</h4>
            <ul>
                <li>
                    1.x:
                    <a href="/ota/watch/1.0.1">1.0.1</a>
                </li>
                <li>
                    2.x:
                    <a href="/ota/watch/2.0">2.0</a>,
                    <a href="/ota/watch/2.0.1">2.0.1</a>,
                    <a href="/ota/watch/2.1">2.1</a>,
                    <a href="/ota/watch/2.2">2.2</a>,
                    <a href="/ota/watch/2.2.1">2.2.1</a>,
                    <a href="/ota/watch/2.2.2">2.2.2</a>
                </li>
                ...
            </ul>

            <h4 id="headingHomePod">HomePod</h4>
            <ul>
                <li>
                    11.x:
                    <a href="/ota/homepod/11.0.2">11.0.2</a>,
                    <a href="/ota/homepod/11.3">11.3</a>,
                    <a href="/ota/homepod/11.4">11.4</a>,
                    <a href="/ota/homepod/11.4.1">11.4.1</a>
                </li>
                ...
            </ul>

            <h4 id="headingIPad">iPad</h4>
            <ul>
                <li>
                    5.x:
                    <a href="/ota/homepod/5.0.1">5.0.1</a>,
                    <a href="/ota/homepod/5.1">5.1</a>,
                    <a href="/ota/homepod/5.1.1">5.1.1</a>
                </li>
                ...
            </ul>

            <h5 id="headingPencil">Apple Pencil</h5>
            <ul>
                <li><a href="/ota/pencil/1g">Apple Pencil (1st generation)</a></li>
                <li><a href="/ota/pencil/2g">Apple Pencil (2nd generation)</a></li>
            </ul>

            <h5 id="headingKeyboard">Smart Keyboard</h5>
            <ul>
                <li><a href="/ota/keyboard/keyboard">Smart Keyboard</a></li>
                <li><a href="/ota/keyboard/folio">Smart Keyboard Folio</a></li>
            </ul>

            <h4 id="headingIPadAir">iPad Air</h4>
            <ul>
                <li>
                    7.x:
                    <a href="/ota/ipadair/7.0.4">7.0.4</a>,
                    <a href="/ota/ipadair/7.0.6">7.0.6</a>,
                    <a href="/ota/ipadair/7.1">7.1</a>,
                    <a href="/ota/ipadair/7.1.1">7.1.1</a>,
                    <a href="/ota/ipadair/7.1.2">7.1.2</a>
                </li>
                ...
            </ul>

            <h4 id="headingIPadPro">iPad Pro</h4>
            <ul>
                <li>
                    9.x:
                    <a href="/ota/ipadpro/9.1">9.1</a>,
                    <a href="/ota/ipadpro/9.2">9.2</a>,
                    <a href="/ota/ipadpro/9.2.1">9.2.1</a>,
                    <a href="/ota/ipadpro/9.3">9.3</a>,
                    <a href="/ota/ipadpro/9.3.1">9.3.1</a>,
                    <a href="/ota/ipadpro/9.3.2">9.3.2</a>,
                    <a href="/ota/ipadpro/9.3.3">9.3.3</a>,
                    <a href="/ota/ipadpro/9.3.4">9.3.4</a>,
                    <a href="/ota/ipadpro/9.3.5">9.3.5</a>
                </li>
                ...
            </ul>

            <h4 id="headingIPadMini">iPad mini</h4>
            <ul>
                <li>
                    6.x:
                    <a href="/ota/ipadmini/6.0.1">6.0.1</a>,
                    <a href="/ota/ipadmini/6.0.2">6.0.2</a>,
                    <a href="/ota/ipadmini/6.1">6.1</a>,
                    <a href="/ota/ipadmini/6.1.2">6.1.2</a>,
                    <a href="/ota/ipadmini/6.1.3">6.1.3</a>
                </li>
                ...
            </ul>

            <h4 id="headingIPhone">iPhone</h4>
            <ul>
                <li>
                    5.x:
                    <a href="/ota/iphone/5.0.1">5.0.1</a>,
                    <a href="/ota/iphone/5.1">5.1</a>,
                    <a href="/ota/iphone/5.1.1">5.1.1</a>
                </li>
            </ul>

            <h4 id="headingIPodTouch">iPod touch</h4>
            <ul>
                <li>
                    5.x:
                    <a href="/ota/ipod/5.0.1">5.0.1</a>,
                    <a href="/ota/ipod/5.1">5.1</a>,
                    <a href="/ota/ipod/5.1.1">5.1.1</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}