{{> nav navProcessor=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Processors</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingMainline">List of mainline processors</a></li>
                    <li>2. <a href="#headingOther">List of other processors</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <h1>Processors</h1>
            <p>
                Over the years, Apple has used many different processors.
                Originally, so-called, "off-the-shelf" processors were used such as the <a href="/processors/s5l8900">S5L8900</a> which is an <code>ARM1176JZF-S</code>.
                However, beginning with the <a href="/processors/s5l8930">S5L8930</a> (A4), Apple began producing their own custom silicon.
            </p>

            <h2 id="headingMainline">List of mainline processors</h2>
            <div class="alert alert-primary" role="alert">
                The processors for the Apple Watch and other devices are <a href="#headingOther">listed separately</a>.
            </div>
            <ul>
                <li><a href="/processors/s5l8900">S5L8900</a></li>
                <li><a href="/processors/s5l8720">S5L8720</a></li>
                <li><a href="/processors/s5l8920">S5L8920</a></li>
                <li><a href="/processors/s5l8922">S5L8922</a></li>
                <li><a href="/processors/s5l8930">S5L8930</a> (A4)</li>
                <li><a href="/processors/s5l8940">S5L8940</a> (A5)</li>
                <li><a href="/processors/s5l8942">S5L8942</a> (A5 Rev A)</li>
                <li><a href="/processors/s5l8945">S5L8945</a> (A5X)</li>
                <li><a href="/processors/s5l8947">S5L8947</a> (A5 Rev B)</li>
                <li><a href="/processors/s5l8950">S5L8950</a> (A6)</li>
                <li><a href="/processors/s5l8955">S5L8955</a> (A6X)</li>
                <li><a href="/processors/s5l8960">S5L8960</a> (A7)</li>
                <li><a href="/processors/s5l8965">S5L8965</a> (A7 Variant)</li>
                <li><a href="/processors/t7000">T7000</a> (A8)</li>
                <li><a href="/processors/t7001">T7001</a> (A8X)</li>
                <li><a href="/processors/s8000">S8000</a> (A9) [Samsung]</li>
                <li><a href="/processors/s8003">S8003</a> (A9) [TSMC]</li>
                <li><a href="/processors/s8001">S8001</a> (A9X)</li>
                <li><a href="/processors/t8010">T8010</a> (A10 "Fusion")</li>
                <li><a href="/processors/t8011">T8011</a> (A10X "Fusion")</li>
                <li><a href="/processors/t8015">T8015</a> (A11 "Bionic")</li>
                <li><a href="/processors/t8020">T8020</a> (A12 "Bionic")</li>
                <li><a href="/processors/t8027">T8020</a> (A12X "Bionic")</li>
                <li><a href="/processors/t8030">T8030</a> (A13 "Bionic")</li>
            </ul>

            <h2 id="headingOther">List of other processors</h2>
            <p>
                While the list above is in chronological order, the same cannot be said for this list (at this time).
            </p>
            <ul>
                <li><a href="/processors/s7002">S7002</a> (S1)</li>
                <li><a href="/processors/t8002">T8002</a> (S1P)</li>
                <li><a href="/processors/t8004">T8004</a> (S3)</li>
                <li><a href="/processors/t8006">T8006</a> (S4)</li>
                <li><a href="/processors/w1">W1</a></li>
                <li><a href="/processors/w2">W2</a></li>
                <li><a href="/processors/w3">W3</a></li>
                <li><a href="/processors/t8012">T8012</a> (T2)</li>
                <li><a href="/processors/t2002">T2002</a> (H1)</li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}