nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

#toc li {
    list-style-type: none;
    margin-left: -1em;
}

.external {
    background: url(/img/external-ltr.png) center right no-repeat;
    padding-right: 15px;
}

/* Bootstrap's default pink like color reminds me of a Mediawiki link to a
 * non-existent page */
code {
    color: #212529;
}

h2 {
    border-width: 0 0 1px 0;
    border-style: solid;
}

.fwDevice img {
    width: 96px;
}

.fwInfobox caption {
    caption-side: top;
}