nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

#toc li {
    list-style-type: none;
    margin-left: -1em;
}

.fwDevice img {
    width: 96px;
}

.fwInfobox caption {
    caption-side: top;
}