nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

#toc li {
    list-style-type: none;
    margin-left: -1em;
}

/* Bootstrap's default pink like color reminds me of a Mediawiki link to a
 * non-existent page */
code {
    color: #212529;
}

.fwDevice img {
    width: 96px;
}

.fwInfobox caption {
    caption-side: top;
}