{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Decrypt"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            <!-- No TOC -->
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Decrypt Firmware</h1>
            <p>
                Use this form to decrypt a firmware file.
            </p>
            <div class="alert alert-primary" role="alert">
                Currently, only <em>unencrypted</em> <a href="/fw/formats/8900">8900</a> and <a href="/fw/formats/img2">IMG2</a> files are supported.
                If you would like to decrypt the <a href="/fw/files/rootFS">root filesystem</a>, in the meantime, please use the <a href="/download">program version</a>.
            </div>
            <div class="alert alert-primary" role="alert">
                For this to work, JavaScript must be enabled, and your browser must support the <a href="https://developer.mozilla.org/en-US/docs/Web/API/FileReader" class="external">FileReader</a> API.
            </div>
            <div id="decryptError" class="alert alert-danger d-none" role="alert">
            </div>
            <form id="decryptForm">
                <div class="form-group">
                    <label for="decryptFormIV">IV</label>
                    <input type="text" class="form-control" id="decryptFormIV">
                </div>
                <div class="form-group">
                    <label for="decryptFormKey">Key</label>
                    <input type="text" class="form-control" id="decryptFormKey">
                </div>
                <div class="form-group">
                    <label for="decryptFormFile">File to decrypt</label>
                    <input type="file" class="form-control-file" id="decryptFormFile" required>
                </div>
                <button class="btn btn-primary" type="submit">Decrypt</button>
            </form>
            <div id="output">
            </div>
        </div>
    </div>
</div>

{{> footer}}

<script src="/js/sjcl-104.js"></script>
<script src="/js/lzss.js"></script>
<script src="/js/decrypt.js"></script>