{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Decrypt</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <!-- No TOC -->
        </div>

        <div class="col-sm-10">
            <h1>Decrypt Firmware</h1>
            <p>
                Use this form to decrypt a firmware file.
                Currently, only <a href="/fw/formats/8900">8900</a> and <a href="/fw/formats/img2">IMG2</a> files are supported.
            </p>
            <div class="alert alert-primary" role="alert">
                For this to work, JavaScript must be enabled, and your browser must support the <a href="https://developer.mozilla.org/en-US/docs/Web/API/FileReader" class="external">FileReader</a> API.
            </div>
            <div id="decryptError" class="alert alert-danger d-none" role="alert">
            </div>
            <!--<p class="note">
                This will <em>not</em> decrypt the <a href="/fw/files/rootFS">root filesystem</a>.
                There is a <em>2&nbsp;<a href="https://en.wikipedia.org/wiki/Mebibyte" class="external">MiB</a></em> file size limit.
            </p>-->
            <form id="decryptForm">
                <div class="form-group">
                    <label for="decryptFormIV">IV</label>
                    <input type="text" class="form-control" id="decryptFormIV">
                </div>
                <div class="form-group">
                    <label for="decryptFormKey">Key</label>
                    <input type="text" class="form-control" id="decryptFormKey">
                </div>
                <div class="form-group">
                    <label for="decryptFormFile">File to decrypt</label>
                    <input type="file" class="form-control-file" id="decryptFormFile" required>
                </div>
                <button class="btn btn-primary" type="submit">Decrypt</button>
            </form>
            <div id="output">
            </div>
        </div>
    </div>
</div>

{{> footer}}

<script src="/js/sjcl-104.js"></script>
<script src="/js/lzss.js"></script>
<script src="/js/decrypt.js"></script>