{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        "Filesystem Browser"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingFolders" "Folders")
                (arr "#headingFiles" "Files")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>Filesystem Browser</h1>
            <p>
                iOS is a {{{link "https://en.wikipedia.org/wiki/Unix-like" "Unix-like"}}} operating system, and unlike Windows, uses a root directory (<code>/</code>) with other partitions mounted into directories.
            </p>
            <div class="alert alert-primary" role="alert">
                This listing is updated manually, and as such, will never be 100% accurate.
                Here, it is roughly based off of {{{link "/ios/13" "iOS 13.0"}}} for the iPhone.
            </div>

            <h2 id="headingFolders">Folders</h2>

            <h2 id="headingFiles">Files</h2>
        </div>
    </div>
</div>

{{> footer}}