{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Filesystem Browser</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingFolders">Folders</a></li>
                    <li>2. <a href="#headingFiles">Files</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>Filesystem Browser</h1>
            <p>
                iOS is a <a href="https://en.wikipedia.org/wiki/Unix-like" class="external">Unix-like</a> operating system, and unlike Windows, uses a root directory (<code>/</code>) with other partitions mounted into directories.
            </p>
            <div class="alert alert-primary" role="alert">
                This listing is updated manually, and as such, will never be 100% accurate.
                Here, it is roughly based off of <a href="/ios/13">iOS 13.0</a> for the iPhone.
            </div>

            <h2 id="headingFolders">Folders</h2>

            <h2 id="headingFiles">Files</h2>
        </div>
    </div>
</div>

{{> footer}}