{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/fw/files">Firmware Files</a></li>
            <li class="breadcrumb-item active" aria-current="page">AppleLogo</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingFormat">Payload Format</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>AppleLogo</h1>
            <p>
                The AppleLogo file is a simple glyph containing the Apple logo shown during boot.
                On certain colored devices (such as white ones), the colors are inverted before being displayed to give
                a black logo on a white background.
            </p>

            <h2 id="headingFormat">Payload Format</h2>
            TODO
        </div>
    </div>
</div>

{{> footer}}