{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Firmware Files" "/fw/files")
        "AppleLogo"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingFormat" "Payload Format")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>AppleLogo</h1>
            <p>
                The AppleLogo file is a simple glyph containing the Apple logo shown during boot.
                On certain colored devices (such as white ones), the colors are inverted before being displayed to give a black logo on a white background.
            </p>

            <h2 id="headingFormat">Payload Format</h2>
            <p>
                Once extracted from the outer container ({{#link "/fw/formats/img2"}}IMG2{{/link}}, {{#link "/fw/formats/img3"}}IMG3{{/link}}, or {{#link "/fw/formats/img4"}}IMG4{{/link}}), the AppleLogo is an {{#link "/fw/formats/iBootImage"}}iBootImage{{/link}}.
                Here is the AppleLogo extracted from {{#link "/fw/keys/1A543a/iphone11"}}1.0 (build 1A543a) build for the iPhone 2G (<code>iPhone1,1</code>){{/link}}:
            </p>
            <img src="/img/ipswItems/applelogo_iPhone1,1_1A543a.png" alt="AppleLogo extracted from the 1.0 (build 1A543a) build for the iPhone 2G" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}