{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/fw/files">Firmware Files</a></li>
            <li class="breadcrumb-item active" aria-current="page">AppleLogo</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingFormat">Payload Format</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>AppleLogo</h1>
            <p>
                The AppleLogo file is a simple glyph containing the Apple logo shown during boot.
                On certain colored devices (such as white ones), the colors are inverted before being displayed to give a black logo on a white background.
            </p>

            <h2 id="headingFormat">Payload Format</h2>
            <p>
                Once extracted from the outer container (<a href="/fw/formats/img2">IMG2</a>, <a href="/fw/formats/img3">IMG3</a>, or <a href="/fw/formats/img4">IMG4</a>), the AppleLogo is an <a href="/fw/formats/iBootImage">iBootImage</a>.
                Here is the AppleLogo extracted from <a href="/fw/keys/1A543a/iphone11">1.0 (build 1A543a) build for the <a href="/devices/iphone/2g">iPhone 2G</a> (<code>iPhone1,1</code>)</a>:
            </p>
            <img src="/img/ipswItems/applelogo_iPhone1,1_1A543a.png" alt="AppleLogo extracted from the 1.0 (build 1A543a) build for the iPhone 2G" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}