{{> nav navFirmware=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Firmware Files" "/fw/files")
        (arr "DeviceTree" "/fw/files/deviceTree")
        "iPhone1,1"
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingTree" "Tree")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>DeviceTree <small class="text-muted">iPhone1,1</small></h1>
            <p>
                This is the {{#link "/fw/files/deviceTree"}}device tree{{/link}} for the original iPhone (commonly called "iPhone 2G").
            </p>

            <h2 id="headingTree">Tree</h2>
            TODO
        </div>
    </div>
</div>

{{> footer}}