{{> nav navFirmware=true}}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/fw/files">Firmware Files</a></li>
            <li class="breadcrumb-item"><a href="/fw/files/deviceTree">DeviceTree</a></li>
            <li class="breadcrumb-item active" aria-current="page">iPhone1,1</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-2">
            <div id="toc">
                <div id="tocTitle">Contents</div>
                <ul>
                    <li>1. <a href="#headingTree">Tree</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-10">
            <h1>DeviceTree: <code>iPhone1,1</code></h1>
            <p>
                This is the <a href="/fw/files/deviceTree">device tree</a> for the original iPhone (commonly called "iPhone 2G").
            </p>
            
            <h2 id="headingTree">Tree</h2>
            TODO
        </div>
    </div>
</div>

{{> footer}}