{{> nav navProcessor=true}}

<div class="container-fluid">
    {{{breadcrumbs
        (arr "Devices" "/devices")
        "iPhone \"2G\""
    }}}

    <div class="row">
        <div class="col-lg-2 col-md-3">
            {{{toc
                (arr "#headingName" "Name")
                (arr "#headingSpecs" "Technical Specs")
                (arr "#headingHacking" "Hacking")
            }}}
        </div>

        <div class="col-lg-10 col-md-9">
            <h1>iPhone "2G"</h1>
            <p>
                The iPhone (commonly known as the "iPhone 2G") was Apple's first smartphone.
                It was announced on {{{date "2007-01-09"}}} and released on {{{date "2007-06-29"}}}.
            </p>

            <h3 id="headingName">Name</h3>
            <p>
                When announced and released, the iPhone 2G was simply called <span class="font-italic">iPhone</span>.
                However, with the release of the <a href="/devices/iphone/3g">iPhone 3G</a> in 2008, the original iPhone became commonly known as the "iPhone <span class="font-italic">2G</span>."
                The reasoning for "2G" and not "1G" is two-fold: it is the iPhone preceding the 3G (and 2 is one before 3), and it only supported <a href="https://en.wikipedia.org/wiki/GSM" class="external">GSM</a> and <a href="https://en.wikipedia.org/wiki/Enhanced_Data_Rates_for_GSM_Evolution" class="external">EDGE</a> networks (commonly called "2G" networks).
            </p>

            <h3 id="headingSpecs">Technical Specs</h3>
            <ul>
                <li>Battery: 1400&nbsp;mA @ 3.7&nbsp;V (5.18&nbsp;Wh)</li>
                <li>Bluetooth: 2.0 EDR</li>
                <li>
                    Camera:
                    <ul>
                        <li>Rear: 1.9&nbsp;MP</li>
                    </ul>
                </li>
                <li>
                    Cellular Radio:
                    <ul>
                        <li>Processor: <a href="/baseband/pmb8876">PMB8876</a> (S-Gold 2)</li>
                        <li>Supported networks: Up to EDGE (2.5G)</li>
                    </ul>
                </li>
                <li>Colors: Aluminum (gray)</li>
                <li>
                    CPU:
                    <ul>
                        <li>Core: <a href="http://en.wikipedia.org/wiki/ARM11" class="external">ARM1176</a>&nbsp;x&nbsp;1</li>
                        <li>CPU: <a href="/processors/s5l8900">S5L8900</a></li>
                        <li>Speed: 412&nbsp;MHz (400 until iPhone OS 1.1.2)</li>
                        <li>Instruction Set: ARMv6</li>
                    </ul>
                </li>
                <li>
                    Firmware:
                    <ul>
                        <li>Initial: <a href="/fw/keys/1A543a/iphone11">1.0 (<code>1A543a</code>)</a></li>
                        <li>Latest: <a href="/fw/keys/7E18/iphone11">3.1.3 (<code>7E18</code>)</a></li>
                    </ul>
                </li>
                <li>Internal Name: <code>iPhone1,1</code></li>
                <li>RAM: 128&nbsp;MiB</li>
                <li>Storage: 4/8/16&nbsp;GB</li>
                <li>Wi-Fi: 802.11b/g</li>
            </ul>

            <h3 id="headingHacking">Hacking</h3>
            <p>
                Naturally, as a first generation device, the original iPhone is one of the more "hack-friendly" <a href="/devices">iDevices</a>.
                Within two months of its release, "<a href="https://www.theiphonewiki.com/wiki/User:Geohot" class="external">geohot</a>" (George Hotz) "unlocked" the AT&amp;T only device to <a href="https://www.youtube.com/watch?v=tvJ1RGlxe8Q" class="external">work on T-Mobile</a>.
                A few months later, the <a href="https://www.theiphonewiki.com/wiki/IPhone_Dev_Team" class="external">iPhone Dev Team</a> discovered "<a href="https://www.theiphonewiki.com/wiki/Pwnage" class="external">Pwnage</a>," a bootrom level exploit allowing jailbreaking the device on <em>any</em> version of <a href="/ios">iPhone OS</a>.
            </p>
        </div>
    </div>
</div>

{{> footer}}